<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<%= link_to('Home', root_path, class: 'nav-link') %> 
<%= link_to('Enviar uma receita', new_recipe_path, class: 'nav-link') %>
<%= link_to('Cadastrar tipo de receita', new_recipe_type_path, class: 'nav-link') %>

<h3>Receitas destaque</h3>

<div id="recipes-featured">
	<% @featured_recipes.each do |f| %> 

		<h1><%= link_to(f.title, recipe_path(f)) %></h1>   
		<ul>
			<%= image_tag "star.png" %>
			<li><%= f.recipe_type.name %></li>
			<li><%= f.cuisine.name %></li>
			<li><%= f.difficulty %></li>
			<li><%= f.cook_time %> minutos</li>
		</ul>

	<% end %>
</div>


<hr>


<h3>Outras receitas</h3>
<div id="other-recipes">
	<% @other_recipes.each do |f| %> 

		<h1><%= link_to(f.title, recipe_path(f)) %></h1>   
		<ul>
			<li><%= f.recipe_type.name %></li>
			<li><%= f.cuisine.name %></li>
			<li><%= f.difficulty %></li>
			<li><%= f.cook_time %> minutos</li>
		</ul>

	<% end %>
</div>
